# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode/ directory contains shared settings for developers using
# Visual Studio Code.
.vscode/

# Flutter/Dart related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Android related
**/android/**/generated/
**/android/app/src/main/res/drawable-*/
**/android/app/src/main/res/mipmap-*/
**/android/bundle*/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/key.properties
**/android/app/*.jks
**/android/app/*.keystore
**/android/app/*.pub
**/android/app/*.releaseKeys
**/android/app/src/main/assets/
**/android/captures/
**/android/.gradle/
**/android/.cxx/
**/android/.externalNativeBuild/

# iOS related
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/App.podspec
**/ios/Flutter/App.framework.dSYM
**/ios/.generated/
**/ios/DerivedData/
**/ios/Pods/
**/ios/.symlinks/
**/ios/Pods/
**/ios/Config/
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/Runner/GeneratedPluginRegistrant.swift
**/ios/ServiceDefinitions.json
**/ios/Runner/Assets.xcassets/AppIcon.appiconset/*.png
**/ios/Runner/Base.lproj/LaunchScreen.storyboard

# macOS related
**/macos/Flutter/ephemeral/
**/macos/Pods/
**/macos/.symlinks/
**/macos/Runner/GeneratedPluginRegistrant.h
**/macos/Runner/GeneratedPluginRegistrant.m
**/macos/Runner/GeneratedPluginRegistrant.swift

# Linux related
**/linux/flutter/ephemeral/

# Windows related
**/windows/flutter/ephemeral/

# Web related
**/web/main.dart.js
**/web/main.dart.js.map
**/web/main.dart.js.deps

# Secret files
.env*

# Exception: Do NOT ignore the generated localization files in lib/l10n/
# since we set synthetic-package: false
!lib/l10n/*.dart
